.currency-dropdown{
    position: absolute;
width: 100px;
height: 120px;
display: flex;
flex-direction: column;
padding: 20px;
border: 1px solid black;
background-color: white;
top: 90px;
right: 300px;
z-index: 5;
}