.product-container {
    display: flex;
    width: 80%;
    margin:5px auto;
    


    .product-description{
        margin-left: 100px;
        width: 25%;
        

        .button-container{
            background-color:rgb(5, 223, 70);
            width: 75%;
            height: 50px;
            color: white;
            font-weight: 700;
            border: 0;
            margin-bottom: 10px;
        }

        .size-container{
            display: flex;
    
            .size-value {
                margin: 0px 10px;
               border: 1px solid black;
                width: 50px;
                height: 50px;
               display: flex;
               justify-content: center;
               align-items: center;
            }
    
            .size-value-active{
                margin: 0px 10px;
                border: 1px solid black;
                background-color: black;
                color: white;
                 width: 50px;
                 height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
    
            .color-value {
                margin: 0px 10px;
               border: 1px solid black;
                width: 50px;
                height: 50px;
               display: flex;
               justify-content: center;
               align-items: center;
               opacity: 0.6;
            }
    
            .color-value-active{
                margin: 0px 10px;
                border: 2px solid black;
                opacity: 1;
                 width: 50px;
                 height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }


}