.collection-item{
    width: 30%;
    height: 600px;
    margin: 0 15px;
    position: relative;


  
    
    text-decoration: none;
    color: black;

    text-align: left;
    .item-photo{
       width: 100%;
        
      
        img{
            width: 100%;
            height: 300px;
           object-fit: contain;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }


    .not-in-stock{
        width: 100%;
        background-color: white;
        opacity: 0.6;

        .stock{
            width: 100%;
          position: absolute;
          top:20%;
          left: 40%;
          columns: grey;
          text-transform: uppercase;
          font-weight: bolder;
          font-size: large;
        }




       
    }

    
        .cart-icon{
            margin-top: -63px;
        cursor: pointer;
           top: 250px;
           left: 350px;
        }
    

}
