.nav-container {
    height: 70px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 200px;
    .options {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content:flex-start;
      text-decoration: none;

     

      .option {
        padding: 15px 15px;
        cursor: pointer;
        text-decoration: none;
        color: black;

      }

      .active-link{
          text-decoration: none;
          color: rgb(5, 223, 70);
          border-bottom: 2px solid rgb(5, 223, 70);
          
      }
  
    }

    .selections {
      display: flex;
      justify-content: center;
      align-items: center;
    
    }

    .logo-container{
      display: flex;
      align-items: center;
      justify-content:flex-end;
    }
  }


  

  